---
---

%header
  .container
    %h1#brand #{@site.config[:title]}
    %h2#subtitle #{ @site.config[:description] }
    %p#appstore
      = link_to('Available on the Mac App Store', 'https://itunes.apple.com/app/id517109617?l=en&mt=8')

#screen
  .container
    .screen-wrap
      :coffeescript
        document.write videoHTML()

.container
  #how-it-works
    %h2 How it works
    %ul
      %li Login using GitHub's OAuth screen.
      %li Browse Public, Starred and Your Gists.
      %li Create, Edit, Delete and Fork Gists.

  #bitbucket
    %h2 Found bugs? Feature requests?
    %p
      Feel free to report problems or request features.
    %p
      = link_to('<i class="icon-bug"></i> Create an issue on our GitHub project.', 'https://github.com/igist/igist.github.com/issues')
#social
  .container
    = fb_likebutton('http://igistapp.com/')
