---
alt_lang: '/'
lang: ja
og:
  url: 'http://everdesktop.com/jp/'
---

%header
  .container
    %h1#brand #{@site.config[:title]}
    %h2#subtitle #{ simple_line_break @site.config[:description][:ja] }
    %p#appstore
      = link_to('Available on the Mac App Store', 'http://s.liap.us/everdesktopjp')

#product-description
  .container
    %section
      %h3 Mac を整理する
      %p EverDesktop はステータスバーから Mac 上の散らかったファイルを整理します。
    %section
      %h3 Evernote にクリップ
      %p ファイルはノートに添付され、埋込み表示されます。
    %section
      %h3 ファイルは移動するだけ
      %p EverDesktop は、クリップしたあとのファイルを、日時ごとの個別のフォルダに移動します。

.container
  #how-it-works
    %h2 動作イメージ
    = youtube('grzLJosbAZ8')

  #bitbucket
    %h2 バグを報告、機能リクエスト
    %p
      お気軽に課題を報告、または新機能をリクエストしてください。
    %p
      = link_to('<i class="icon-bug"></i> BitBucket プロジェクトに課題を追加する。', 'https://bitbucket.org/littleapps/everdesktop/issues')
#social
  .container
    = fb_likebutton('https://www.facebook.com/EverDesktop')

