!!! 5
%html{:lang =>"#{@item[:lang]||'en'}"}
  %head
    %meta{:charset =>"utf-8"}
    %meta{:name =>"generator", :content =>"nanoc 3.1.7"}
    %title EverDesktop - #{@site.config[:description][@item[:lang].to_sym].gsub(/\n/, '')}
    %link{:rel =>"stylesheet", :type =>"text/css", :href =>"/stylesheets/screen.css", :media =>"screen"}
    %link{:rel =>"stylesheet", :type =>"text/css", :href =>"http://fonts.googleapis.com/css?family=ABeeZee", :media =>"screen"}
  %body
    #main
      = yield
    %footer
      .container
        - if @item[:alt_lang]
          %ul#locales
            - if 'ja'.eql? @item[:lang]
              %li.en
                %a{:href => @item[:alt_lang]} English
              %li.ja
                %em 日本語
            - else
              %li.en
                %em English
              %li.ja
                %a{:href => @item[:alt_lang]} 日本語

        %address
          Copyright &copy; #{Time.now.year}
          %a{:href => 'http://littleapps.jp/'}LittleApps Inc.
          All rights reserved.
      = google_analytics('UA-35921979-1')
